.DS_Store
videos/.DS_Store
videos/*.mov
videos/roto_part*
Stats_vehicles_keys/
Stats_reviews/rating.drawio
assets/icons/apple-touch-icon.png
assets/icons/favicon-32x32.png
assets/icons/favicon.ico
assets/images/dynamic-island-expanded.png
assets/images/fsd-utilization.png
assets/images/lockscreen-live-activity.png
assets/images/sentry-view.png
assets/images/stats-rating.png
